schema/drug.xml

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
  <element name="Drug">
    <complexType>
        <attribute name="type" use="optional" >
            <simpleType>
                <restriction base="string">
                    <enumeration value="antithrombotic drug"/>
                    <enumeration value="concomitant medication"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="negated" use="optional" >
            <simpleType>
                <restriction base="string">
                    <enumeration value="positive"/>
                    <enumeration value="negated"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
  </element>
</schema>
